{% extends "base.html" %}
{% block content %}
  <h2>Add Student</h2>
  <form id="add-student-form">
    <div>
      <label for="full_name">Full Name:</label>
      <input type="text" id="full_name" name="full_name" required>
    </div>
    <div>
      <label for="class_name">Class name:</label>
      <input type="text" id="class_name" name="class_name" required>
    </div>
    <div>
      <label for="roll_no">Roll No.:</label>
      <input type="number" id="roll_no" name="roll_no" required>
    </div>
    <div>
      <button type="submit">Add Student</button>
    </div>
  </form>
  <hr> <h2>OR</h2> <hr>
  <form id="uploadForm" enctype="multipart/form-data">
    <input type="file" name="file" accept=".xlsx">
    <label for="class_name">Class Name:</label>
    <input type="text" id="class_name" name="class_name" required>
    <button type="submit">Upload & proceed to add..</button>
</form>

<script>
    document.getElementById('uploadForm').onsubmit = function(e) {
        e.preventDefault();
        const formData = new FormData(this);
        fetch('/api/add-students-bulk', {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            if(data.success) {
                showFlashMessage('Students added successfully!', 'success');
                document.getElementById('uploadForm').reset();
            } else {
                showFlashMessage(data.message || 'Failed to add students.', 'error');
            }
        })
        .catch(error => console.error('Error:', error));
    };
    function setTodaysDate() {
      var today = new Date();
      var day = String(today.getDate()).padStart(2, '0');
      var month = String(today.getMonth() + 1).padStart(2, '0'); // Months are zero-based
      var year = today.getFullYear();
      var formattedDate = year + '-' + month + '-' + day;
      return formattedDate;
    };

    document.getElementById('add-student-form').addEventListener('submit', function(event) {
      event.preventDefault();

      const formData = new FormData(this);
      const data = {
        full_name: formData.get('full_name'),
        roll_no: formData.get('roll_no'),
        class_name: formData.get('class_name'),
      };

      fetch('/api/add-student', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          showFlashMessage('Student added successfully!', 'success');
          document.getElementById('add-student-form').reset();
          setTodaysDate()
        } else {
          showFlashMessage(data.message || 'Failed to add student.', 'error');
        }
      })
      .catch(error => {
        showFlashMessage('An error occurred while adding the student.', 'error');
        console.error('Error:', error);
      });
    });

  </script>
{% endblock %}
