{% extends 'base.html' %}

{% block content %}
<h1>Login</h1>
<form id="login-form" action="{{ url_for('main.login') }}" method="post">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
  </div>
  <div>
    <span>
      Don't have an account? <br> <a href="{{ url_for('main.register') }}">Create account</a>
    </span>
  </div>
  <button type="submit">Login</button>
</form>
<script>
  document.getElementById('login-form').addEventListener('submit', async function(event) {
    event.preventDefault();
    
    const form = event.target;
    const formData = new FormData(form);
    
    const response = await fetch(form.action, {
      method: 'POST',
      body: formData,
    });
    const result = await response.json();
    if (result.success) {
showFlashMessage("Login successful", "success");
setTimeout(() => {
      window.location.href = "{{ url_for('main.index') }}";
    }, 3000);
    } else {
      showFlashMessage(result.message, "error");
    }
  });
</script>
{% endblock %}