{% extends "base.html" %}
{% block head%}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Students List</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% endblock %}
{% block content %}
<div class="container mt-5">
  <h2>Students List</h2>
  <!-- Filter and Sort Options -->
  <div class="mb-3">
    <label for="filter-class" class="form-label">Filter by Class:</label>
    <select id="filter-class" class="form-select">
      <option value="">Select Class name</option>
      {% for class_name in class_names %}
      <option value="{{ class_name.name }}">{{ class_name.name }}</option>
      {% endfor %}
    </select>
    <label for="sort-order" class="form-label">Sort by:</label>
    <select id="sort-order" class="form-select">
      <option value="asc">Ascending</option>
      <option value="desc">Descending</option>
    </select>

    <button id="filter-button" class="btn btn-primary mt-2">Apply Filters</button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Roll no.</th>
        <th>Full Name</th>
        <th>Class Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="student-list">
      {% for user in users %}
      <tr id="student-{{ user.id }}">
        <td>{{ user.id }}</td>
        <td>{{ user.roll_no }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.class.name }}</td>
        <td>
          <button class="btn btn-primary edit-button" data-id="{{ user.id }}" data-fullname="{{ user.name }}"
            data-class="{{ user.class.name }}" data-roll="{{ user.roll_no }}">Edit</button>
          <button class="btn btn-danger delete-button" data-id="{{ user.id }}">Delete</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Modal for Editing Student -->
  <div id="edit-modal" class="modal" style="display:none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Student</h5>
          <button type="button" class="btn-close" id="close-modal"></button>
        </div>
        
        <div class="modal-body">
          <form id="edit-student-form">
            <input type="hidden" id="edit-student-id">
            <div class="mb-3">
              <label for="edit-roll" class="form-label">Roll no.:</label>
              <input type="number" class="form-control" id="edit-roll" name="roll_no">
            </div>
            <div class="mb-3">
              <label for="edit-fullname" class="form-label">Full Name:</label>
              <input type="text" class="form-control" id="edit-fullname" name="name">
            </div>
            <div class="mb-3">
              <label for="edit-class" class="form-label">Class name:</label>
              <input type="text" class="form-control" id="edit-class" name="class_name">
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <button type="button" class="btn btn-secondary" id="close-modal"
              onclick="javascript:document.getElementById('edit-modal').style.display = 'none';">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const editModal = document.getElementById('edit-modal');
      const editForm = document.getElementById('edit-student-form');
      const closeModal = document.getElementById('close-modal');

      document.querySelectorAll('.edit-button').forEach(button => {
        button.addEventListener('click', function () {
          document.getElementById('edit-student-id').value = this.dataset.id;
          document.getElementById('edit-roll').value = this.dataset.roll;
          document.getElementById('edit-fullname').value = this.dataset.fullname;
          document.getElementById('edit-class').value = this.dataset.class;
          editModal.style.display = 'block';
        });
      });

      closeModal.addEventListener('click', function () {
        editModal.style.display = 'none';
      });

      editForm.addEventListener('submit', function (event) {
        event.preventDefault();
        const studentId = document.getElementById('edit-student-id').value;
        const fullName = document.getElementById('edit-fullname').value;
        const className = document.getElementById('edit-class').value;
        const roll_no = document.getElementById('edit-roll').value;

        fetch(`/api/edit-student/${studentId}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            name: fullName,
            class_name: className,
            roll_no: roll_no,
          }),
        })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              var user = data['data'];
              const studentList = document.getElementById(`student-${user.id}`)
              studentList.id = `student-${user.id}`;
              studentList.innerHTML = `
                                <td>${user.id}</td>
                                <td>${user.roll_no}</td>
                                <td>${user.name}</td>
                                <td>${user.class_name}</td>
                                <td>
                                    <button class="btn btn-primary edit-button" data-id="${user.id}" data-fullname="${user.name}" data-class="${user.class_name}" data-roll="${user.roll_no}">Edit</button>
                                    <button class="btn btn-danger delete-button" data-id="${user.id}">Delete</button>
                                </td>`;
              document.getElementById('edit-modal').style.display = "none";
              showFlashMessage('Student updated successfully!', 'success');
              attachEventListeners();
            } else {
              showFlashMessage(data.message || 'Failed to update student.', 'error');
            }
          });
      });

      document.querySelectorAll('.delete-button').forEach(button => {
        button.addEventListener('click', function () {
          const studentId = this.dataset.id;
          fetch(`/api/delete-student/${studentId}`, {
            method: 'DELETE',
          })
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                document.getElementById(`student-${studentId}`).remove();
                showFlashMessage('Student deleted successfully!', 'success');
              } else {
                showFlashMessage(data.message || 'Failed to delete student.', 'error');
              }
            });
        });
      });

      document.getElementById('filter-button').addEventListener('click', function () {
        const class_name = document.getElementById('filter-class').value;
        const sortOrder = document.getElementById('sort-order').value;

        fetch(`/api/students?class_name=${class_name}&sort_order=${sortOrder}`)
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              const studentList = document.getElementById('student-list');
              studentList.innerHTML = '';
              data.data.students.forEach(user => {
                const studentRow = document.createElement('tr');
                studentRow.id = `student-${user.id}`;
                studentRow.innerHTML = `
                                <td>${user.id}</td>
                                <td>${user.roll_no}</td>
                                <td>${user.name}</td>
                                <td>${user.class_name}</td>
                                <td>
                                    <button class="btn btn-primary edit-button" data-id="${user.id}" data-fullname="${user.name}" data-class="${user.class_name}" data-roll="${user.roll_no}">Edit</button>
                                    <button class="btn btn-danger delete-button" data-id="${user.id}">Delete</button>
                                </td>`;
                studentList.appendChild(studentRow);
              });
              showFlashMessage('Students fetched successfully!', 'success');
            } else {
              showFlashMessage(data.message || 'Failed to fetch students.', 'error');
            }

            attachEventListeners();
          });
      });

      function attachEventListeners() {
        document.querySelectorAll('.edit-button').forEach(button => {
          button.addEventListener('click', function () {
            document.getElementById('edit-student-id').value = this.dataset.id;
            document.getElementById('edit-fullname').value = this.dataset.fullname;
            document.getElementById('edit-class').value = this.dataset.class;
            document.getElementById('edit-roll').value = this.dataset.roll;
            editModal.style.display = 'block';
          });
        });
      }
    });
  </script>
</div>
{% endblock %}